.add-user-bnt {
    position: absolute;
    right: 56px;
    bottom: 56px;

}

mat-card {
    padding-left: 0;
    padding-right: 0;
    border-radius: 8px;
    padding-top: 16px;
}


.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);

        &:first-child {
            cursor: unset;
            &:hover {
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.03);
        }

        cursor: pointer;
    }

    th {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        font-weight: 500;
        text-align: start;

        &:first-child {
            padding-left: 16px;
        }


    }

    td {
        height: 48px;

        &:first-child {
            padding-left: 16px;
        }
    }

}